$nav-height: 40px;

/* utility */
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.remove-touch {
  @media screen and (max-width: 639px) {
    display: none;
  }
}

.remove-pc {
  @media screen and (min-width: 640px) {
    display: none;
  }
}

html {
  @media screen and (max-width: 639px) {
    font-size: 70%;
  }
}

body {
  margin: $nav-height 0 0 0;
  background: #F5F8FA;

  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;

  color: #304030;
}

.fixed-nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: $nav-height;
  z-index: 10000;
  background: #fff;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);

  text-align: right;

  .fixed-nav-inner {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;

    padding: 0 20px;
    @media screen and (max-width: 639px) {
      padding: 0 10px;
    }
  }
  a {
    display: inline-block;
    height: 100%;

    padding: 0 10px;
    @media screen and (max-width: 639px) {
      padding: 0 5px;
      font-size: 120%;
    }

    box-sizing: border-box;

    text-decoration: none;
    line-height: 40px;
    color: #555;

    &:hover, &.active {
      border-bottom: solid 2px #e73262;
      color: #e73262;
      font-weight: bolder;
    }
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  background: #fff;

  a {
    &.anchor {
      display: block;
      visibility: none;
      position:relative;
      top: -$nav-height;
    }
  }
}

.full-article {
  margin: 0 auto;
  padding: 30px 5%;
  @media screen and (max-width: 639px) {
    padding: 15px 5%;
  }

  h2 {
    max-width: 700px;
    margin: 20px auto 30px;
    @media screen and (max-width: 639px) {
      margin: 15px auto 20px;
    }
    font-size: 200%;
  }
  p {
    max-width: 700px;
    margin: 5px auto;
    font-size: 120%;
    line-height: 180%;
    @media screen and (max-width: 639px) {
      line-height: 170%;
    }
    &.center {
      text-align: center;
    }
  }
  a {
    text-decoration: underline;
    &:visited {
      color: #304030;
    }
  }

  .article-headline {
    box-sizing: border-box;
    max-width: 700px;
    margin: 20px auto;
    padding: 30px 20px 10px;
    @media screen and (max-width: 639px) {
      margin: 20px auto 10px;
      padding: 15px 15px;
    }
    border-top: solid 1px #003300;
    color: #114411;
    h3 {
      font-size: 140%;
      margin: 0;
    }
  }

  &.article-dark {
    color: #fff;
    .article-headline {
      color: #fff0f0;
      border-color: #fff0f0;
    }
    a {
      text-decoration: underline;
      color: #fff0f0;
    }

  }
}

// items with ids
#title-hero {
  box-sizing: border-box;
  height: 450px;
  @media screen and (max-width: 640px) {
    height: 300px;
  }
  background-image: url(../img/title_background.png);
  background-size: cover;
  background-position: center;

  padding-top: 80px;
  @media screen and (max-width: 640px) {
    padding-top: 50px;
  }

  #title-logo {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    img {
      width: 95%;
    }
  }
  #title-info {
    margin: 45px auto;
    padding: 0 10px;
    @media screen and (max-width: 640px) {
      margin: 30px auto;
    }
    max-width: 650px;
    text-align: left;

    p {
      color: #fff;
      font-weight: bold;
      font-size: 130%;
      margin: 5px 0;
    }
    h4 {
      color: #fff;
      font-size: 150%;
      margin: 8px 0;
    }
  }
}

#article-intro {
  background-color: #f0f0f0;
  #socialicons {
    margin-top: 20px;
    img {
      height: 35px;
      margin: 0 10px;
    }
  }
}

#article-access {
  #access-googlemap {
    text-align: center;
  }
}

#article-inquiry {
  height: 600px;
  @media screen and (max-width: 640px) {
    height: 650px;
  }
  background-image: url(../img/pamphlet.png);
  background-size: cover;
  background-position: center;

  #inquiry-form-pc {
    @media screen and (max-width: 639px) {
      display: none;
    }
    text-align: center;
    iframe {
      width: 600px;
      height: 375px;
    }
  }
  #inquiry-form-touch {
    @media screen and (min-width: 640px) {
      display: none;
    }
    text-align: center;
    iframe {
      width: 300px;
      height: 460px;
    }
  }
}

#article-credit {
  background: #142b18;

  h3 {
    margin-top: 30px;
    text-align: center;
    font-size: 140%;
  }
  #copyright {
    margin-top: 30px;
    text-align: center;
    font-size: 80%;
  }
}

.talk-header {
  margin-bottom: 10px;
  span.title {
    font-size: 140%;
  }

  span.name {
    font-size: 110%;
  }

  span.major {
    font-size: 110%;
    color: gray;
  }
}

.talk-abs {
  margin-bottom: 30px;
  margin-left: 20px;
}

.time-table {
  margin-left: 10px;

  td.title {
    padding-left: 10px;
  }

  td.name {
    padding-left: 10px;
  }
}
